*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
build/
*.iml
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.mvn/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
application.yml
*.log
*.log.[0-9]*
*.perm
*.versionsBackup
.idea/vcs.xml
