body
  font-size 0.95rem

// markdown blockquote
blockquote
  font-size 0.95rem
  color #2c3e50;
  border-left .5rem solid #42b983
  background-color #f3f5f7
  margin 1rem 0
  padding 1rem 1rem 1rem 1rem
  & > p
    margin 0

// markdown h1
h1
  font-size 1.8rem
  padding-bottom 1rem
  border-bottom 1px solid $borderColor

// markdown h2
h2
  font-size 1.55rem
  border-bottom 0px solid $borderColor

.theme-default-content h4
  font-size 1.1rem
  text-decoration underline

// sidebar
.sidebar
  width: 18rem
  font-size: 15px